* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
}

nav {
  background-color: black;
  color: white;
  padding: 20px;
  border-bottom: 9px solid rgb(56, 56, 56);
}

nav > h3 {
  display: inline;
  color: white;
}

nav > p {
  display: inline;
}

p {
  margin: 5px;
  padding: 5px;
  height: 300px;
  border: 1px solid black;
}

@media (min-width: 768px) {
  .Module-md-6 {
    float: left;
    width: 50%;
  }
}
